
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #555;
}

html {
    overflow: hidden;
}

#ircui {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.qwebirc-qui .dynamicpanel {
    position: absolute;
}
.qwebirc-qui .widepanel, .leftboundpanel {
    left: 0px;
}
.qwebirc-qui .widepanel {
    width: 100%;
}
.qwebirc-qui .topboundpanel {
    top: 0px;
}
.qwebirc-qui .rightboundpanel {
    /*right: 0px;*/
}
.qwebirc-qui .bottomboundpanel {
    color: red;
}

.qwebirc-qui .lines {
    color: #eee;
    overflow: auto;
}

.qwebirc-qui .lines .timestamp {
    display: inline;
}

.qwebirc-qui .ircwindow div {
    font-family: Consolas, "Lucida Console", monospace;
    text-indent: -7px;
    padding-left: 7px;
    word-wrap: break-word;
}

.qwebirc-qui .tab-invisible {
    display: none;
}

.qwebirc-qui .input input.keyboard-input {
    border: 0px;
    margin: 2px 0px 0px 0px;
    width: 99%;
    background: none;
    color: #eee;
    font-family: Consolas, "Lucida Console", monospace;
    outline: none
}

.qwebirc-qui .input input.mobile-input {
    border: 0px;
    margin: 2px 0px 0px 0px;
}

.qwebirc-qui .input input.mobile-button {
    position: absolute;
    top: 0px;
}

.qwebirc-qui form {
    margin: 0px;
    padding: 0px;
}

.qwebirc-qui .topic {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

.qwebirc-qui .topic .emptytopic {
    color: gray;
}

.qwebirc-qui .topic {
    color: gray;
    padding-left: 5px;
    font-size: 0.7em;
    cursor: default;
}

.colourline:first-child, .nicklist > a:first-child {
  padding-top: 5px
}

.nav-tabs {
  background: #444;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  height: 36px;
}

.nav-tabs>li {
  padding-top: 6px;
}

.nav-tabs>li>a {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #eee;
}

.nav-tabs>li>a:hover, .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  background-color: #555;
  border: 1px solid #ccc;
  border-bottom: 1px solid #555;
  color: #eee;
  height: 21px !important;
}

.qwebirc-qui div.input {
    border-top: 1px solid #ccc;
    padding-left: 3px;
    padding-right: 3px;
}

.qwebirc-qui .tabclose {
    margin-left: 7px;
    font-size: 0.7em;
    padding-left: 3px;
}

.qwebirc-qui a.tab-hilight-activity {
    color: #009900;
}

.qwebirc-qui a.tab-hilight-speech {
    color: #0000ff;
}

.qwebirc-qui a.tab-hilight-us {
    color: #ff0000;
}

.qwebirc-qui .nicklist {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    overflow: auto;
    color: #eee;
    font-family: Consolas, "Lucida Console", monospace;
    border-left: 1px solid #ccc;
    padding-left: 5px;
}

.qwebirc-qui .nicklist a {
    display: block;
    color: #eee;
    padding-left: 1px;
}

.qwebirc-qui .nicklist a.selected {
    display: block;
    color: rgb(0,0,0);
    text-decoration: none;
    border-bottom: rgb(200,209,219) 1px solid;
    cursor: default;
}

.qwebirc-qui .nicklist a.selected-middle {
    border-top: rgb(200,209,219) 1px solid;
}

div#noscript {
    text-align: center;
    font-weight: bold;
}

.qwebirc-qui .nicklist div.menu {
    margin: 0px 0px 0px 5px;
}

.qwebirc-qui .nicklist div.menu a {
    border-bottom: 0;
    border-top: 0;
}

.qwebirc-qui .hyperlink-whois, .hyperlink-qwhois, .hyperlink-channel {
    cursor: pointer;
    cursor: hand;
    color: #eee;
}

.qwebirc-qui .hyperlink-whois:hover, .hyperlink-qwhois:hover, .hyperlink-channel:hover {
    text-decoration: underline;
}

.qwebirc-qui .outertabbar .dropdown-tab {
    cursor: pointer;
    cursor: hand;
    float: left;
    padding: 4px;
    width: 30px;
}

.qwebirc-qui .dropdownmenu {
    z-index: 100;
    border: 1px solid rgb(200,209,219);
    position: relative;
    top: 10px;
    left: 10px;
    background: rgb(240,247,255);
}

.qwebirc-qui .dropdownmenu a {
    display: block;
    font-size: 0.7em;
    color: rgb(0,0,0);
    cursor: pointer;
    cursor: hand;
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom: 1px;
    padding-right: 3px;
}

.qwebirc-qui .dropdownmenu a:hover {
    background: rgb(255,255,254); /* IE is rubbish and doesn't like #FFFFFF or white */
}

.qwebirc-qui .dropdownhint {
    position: relative;
    left: -500px;
    z-index: 10;
    white-space: nowrap;
    font-size: 0.7em;
}

.qwebirc-qui hr.lastpos {
    border: none;
    border-top: 1px solid rgb(200,209,219);
    margin-left: 3em;
    margin-right: 3em;
}